<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <link href='https://fonts.loli.net/icon?family=Material+Icons' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
    <script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="hide-on-med-and-down">
    <div class="parallax-container">
        <div class="parallax"><img src="img/aboutus/1.jpg" style="max-width: 100%; height: auto"></div>
    </div>
    <div>
        <div class="container">
            <h3>关于我们</h3>
            <h5>final201806</h5>
            <h5><a target="_blank"
                   href="https://github.com/final201806/JS-Web">GitHub</a></h5>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="img/aboutus/2.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
    <div>
        <div class="container">
            <h3>陈文杰</h3>
            <h5><a target="_blank" href="https://github.com/chrischen0405">chrischen0405</a></h5>
            <h5><a href="mailto:chrischen0405@gmail.com">chrischen0405@gmail.com</a></h5>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="img/aboutus/3.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
    <div>
        <div class="container">
            <h3>卢凯</h3>
            <h5><a target="_blank" href="https://github.com/RowanLLL">RowanLLL</a></h5>
            <h5><a href="mailto:ll614657115@gmail.com">ll614657115@gmail.com</a></h5>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="img/aboutus/4.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
</div>

<div class="hide-on-small-only hide-on-large-only">
    <div class="parallax-container" style="height: 300px">
        <div class="parallax"><img src="img/aboutus/1.jpg" style="max-width: 100%; height: auto"></div>
    </div>
    <div>
        <div class="container">
            <h4>关于我们</h4>
            <h5>final201806</h5>
            <h5><a target="_blank"
                   href="https://github.com/final201806/JS-Web">GitHub</a></h5>
        </div>
    </div>
    <div class="parallax-container" style="height: 300px">
        <div class="parallax"><img src="img/aboutus/2.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
    <div>
        <div class="container">
            <h4>陈文杰</h4>
            <h5><a target="_blank" href="https://github.com/chrischen0405">chrischen0405</a></h5>
            <h5><a href="mailto:chrischen0405@gmail.com">chrischen0405@gmail.com</a></h5>
        </div>
    </div>
    <div class="parallax-container" style="height: 300px">
        <div class="parallax"><img src="img/aboutus/3.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
    <div>
        <div class="container">
            <h4>卢凯</h4>
            <h5><a target="_blank" href="https://github.com/RowanLLL">RowanLLL</a></h5>
            <h5><a href="mailto:ll614657115@gmail.com">ll614657115@gmail.com</a></h5>
        </div>
    </div>
    <div class="parallax-container" style="height: 300px">
        <div class="parallax"><img src="img/aboutus/4.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
</div>

<div class="hide-on-med-and-up">
    <div class="parallax-container" style="height: 200px">
        <div class="parallax"><img src="img/aboutus/1.jpg" style="max-width: 100%; height: auto"></div>
    </div>
    <div>
        <div class="container">
            <h5>关于我们</h5>
            <h6>final201806</h6>
            <h6><a target="_blank"
                   href="https://github.com/final201806/JS-Web">GitHub</a></h6>
        </div>
    </div>
    <div class="parallax-container" style="height: 180px">
        <div class="parallax"><img src="img/aboutus/2.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
    <div>
        <div class="container">
            <h5>陈文杰</h5>
            <h6><a target="_blank" href="https://github.com/chrischen0405">chrischen0405</a></h6>
            <h6><a href="mailto:chrischen0405@gmail.com">chrischen0405@gmail.com</a></h6>
        </div>
    </div>
    <div class="parallax-container" style="height: 180px">
        <div class="parallax"><img src="img/aboutus/3.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
    <div>
        <div class="container">
            <h5>卢凯</h5>
            <h6><a target="_blank" href="https://github.com/RowanLLL">RowanLLL</a></h6>
            <h6><a href="mailto:ll614657115@gmail.com">ll614657115@gmail.com</a></h6>
        </div>
    </div>
    <div class="parallax-container" style="height: 180px">
        <div class="parallax"><img src="img/aboutus/4.jpg" style="max-width: 100%; height: auto;"></div>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="/index" class="waves-effect waves-circle waves-light btn-floating btn-large grey darken-3" >
        <i class="large material-icons">replay</i>
    </a>
</div>
</body>

<footer class="grey darken-3 page-footer" style="background: url(img/background.jpg) no-repeat center top;">
    <div class="row container">
        <div class="col l6 s12">
            <h5 class="white-text">特别感谢</h5>
            <ul>
                <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.materializecss.cn/">Materialize-UI中文网</a>
                </li>
                <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.dota2.com.cn/">DOTA2-刀塔官方网站</a>
                </li>
            </ul>
        </div>
        <div class="col l6 s12">
            <h5 class="white-text">联系我们</h5>
            <ul>
                <li><a class="grey-text text-lighten-4"
                       href="mailto:chrischen0405@gmail.com">chrischen0405@gmail.com</a></li>
                <li>
                    <a class="grey-text text-lighten-4" href="mailto:ll614657115@gmail.com">ll614657115@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a class="grey-text text-lighten-4" target="_blank"
               href="https://github.com/final201806/JS-Web">final201806</a>
        </div>
    </div>
</footer>
<script>
    $('.parallax').parallax();
</script>
</html>