<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>客户端1</title>
	<script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
	<script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="js/webJs.js"></script>
	<script src="js/lib/vue.js"></script>
</head>
<body class="grey darken-3">
<div class="navbar-fixed">
	<nav class="grey darken-4" role="navigation" style="background: url(img/bg-navbar.png) no-repeat center top;">
		<div class="container nav-wrapper">
			<a href="index.html" class="brand-logo"><img style="max-width: 85%" src="img/logo.png"/></a>
			<a id="menu" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/index">首页</a></li>
				<li><a href="/heroes">英雄</a></li>
				<li><a href="/items">物品</a></li>
				<li><a href="/forum">帖子</a></li>
				<li><a href="/chat">聊天</a></li>
				<li><a href="/login">登录</a></li>
			</ul>

			<ul class="side-nav" id="mobile-nav">
				<li><a href="/index">首页</a></li>
				<li><a href="/heroes">英雄</a></li>
				<li><a href="/items">物品</a></li>
				<li><a href="/forum">帖子</a></li>
				<li><a href="/chat">聊天</a></li>
				<li><a href="/login">登录</a></li>
			</ul>
		</div>
	</nav>
</div>

<main>
	<div class="container" id="chatRecords">
		<ul class="collection">
			<li class="collection-item avatar" v-for="record in records">
				<img src="img/items/blink_lg.png" alt="" class="circle">
				<span class="title">{{record.client}}</span>
				<p>{{record.msg}}</p>
			</li>
		</ul>
	</div>
	<div class="container">
		<footer style="position: fixed;bottom: 0px;width: max-content" class="white">
			<input id="sendMsg" type="text"/>
			<button id="btn_send">发送</button>
		</footer>
	</div>
</main>
</body>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	let socket = io.connect();//连接服务端

	let user = getck('user');
	console.log(user);
	let username = JSON.parse(user.slice(2)).username;

	let records = [];
	// 监听 receiveMsg 事件，用来接收其他客户端推送的消息
	socket.on("receiveMsg", function (data) {
		// content.value += data.client + ":" + data.msg + "\r\n";
		records.push(data);
	});
	console.log(records)
	new Vue({
		el: '#chatRecords',
		data: {
			records: records
		}
	});

	let sendMsg = document.getElementById("sendMsg");
	let btn_send = document.getElementById("btn_send");
	btn_send.addEventListener("click", function () {
		const data = {client: username, msg: sendMsg.value};
		//给服务端发送 sendMsg事件名的消息
		socket.emit("sendMsg", data);
		// content.value += data.client + ":" + data.msg + "\r\n";
		records.push(data);
		sendMsg.value = "";
	});
</script>
</html>