<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>聊天室</title>
	<script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<link href='https://fonts.loli.net/icon?family=Material+Icons' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
	<script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="js/webJs.js"></script>
	<script src="js/lib/vue.js"></script>
</head>
<body class="grey darken-3" style="background: url(img/background.jpg) no-repeat center top;">
<div id="chat">
	<div class="navbar-fixed" id="login">
		<nav class="grey darken-4" role="navigation" style="background: url(img/bg-navbar.png) no-repeat center top;">
			<div class="container nav-wrapper">
				<a href="/index" class="brand-logo"><img style="max-width: 85%" src="img/logo.png"/></a>
				<a id="menu" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a class="grey-text" href="/index">首页</a></li>
					<li><a class="grey-text" href="/heroes">英雄</a></li>
					<li><a class="grey-text" href="/items">物品</a></li>
					<li><a class="grey-text" href="/forum">帖子</a></li>
					<li><a class="grey-text" href="/chat">聊天</a></li>
					<li v-if="isLogin"><a class="grey-text">Hello!&nbsp;&nbsp;{{username}}</a></li>
					<li v-else><a href="/login" class="grey-text">登录</a></li>
					<li v-if="isLogin"><a href="/logout" class="grey-text">注销</a></li>
					<li v-else><a href="/register" class="grey-text">注册</a></li>
				</ul>

				<ul class="side-nav" id="mobile-nav">
					<li><a href="/index">首页</a></li>
					<li><a href="/heroes">英雄</a></li>
					<li><a href="/items">物品</a></li>
					<li><a href="/forum">帖子</a></li>
					<li><a href="/chat">聊天</a></li>
					<li><a href="/login">登录</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<main>
		<div>
			<div class="container" id="chatRecords" style="margin-top: 30px">
				<div style="position: absolute; height: 504px; width: inherit; overflow: auto" id="chatDiv">
					<ul class="collection" style="margin: 0">
						<li class="collection-item avatar" v-for="record in records" >
							<img src="img/items/blink_lg.png" alt="" class="circle">
							<span class="title">{{record.client}}</span>
							<p>{{record.msg}}</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="container center" style="padding-top: 510px" id="sendFrame">
				<div>
					<div class="white col s12">
						<div class="row" v-if="isLogin">
							<div class="input-field col s8 m9 l10">
								<input id="sendMsg" type="text" maxlength="20" style="margin-left: 10px" v-model="msg">
							</div>
							<div class="col s4 m3 l2 right">
								<button class="waves-effect waves-light btn" id="btn_send"
								        style="margin-top: 20px; margin-left: -10px" v-on:click="send">发送
								</button>
							</div>
						</div>
						<div class="row" v-else style="height: 50px">
							<div class="col s12 m12 l12">
								<a class="waves-effect waves-light btn" id="btn_login" style="margin-top: 7px"
								   href="/login">登录参与聊天</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/chat.js"></script>
</html>