<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
	<script type="text/javascript" src="js/webJs.js"></script>
	<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Logo</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">Javascript</a></li>
			<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="sass.html">Sass</a></li>
	<li><a href="badges.html">Components</a></li>
	<li><a href="collapsible.html">Javascript</a></li>
	<li><a href="mobile.html">Mobile</a></li>
</ul>

<ul id="dropdown1" class="dropdown-content">
	<li><a href="#!">one</a></li>
	<li><a href="#!">two</a></li>
	<li class="divider"></li>
	<li><a href="#!">three</a></li>
</ul>

<div class="container">

</div>
<div class="welcome">

</div>
<script>
	var user = getck('user');
	console.log(user);

	if (user != null && user !== "") {
		var username = JSON.parse(user.slice(2)).username;
		document.getElementsByClassName('welcome').item(0).innerHTML = "<p>Welcome! " + username + "</p><button id='logout'>Logout</button>";

		btnLogout = document.getElementById('logout').onclick = function () {
			console.log('clicked');
			fetch('/logout', {method: 'get', redirect: "follow", credentials: "include"})
			.then(res => {
				if (res.status === 200)
					window.location.reload();
			})
			// .then(text => {
			// 	console.log(text);
			// 	window.location.href = text;
			// })
			.catch(error => {
				console.log(error);
			});
		}
	}
	else {
		document.getElementsByClassName('welcome').item(0).innerHTML = "<p>Hello</p><button id='login'>Login</button>";
		btnLogin = document.getElementById('login').onclick = function () {
			console.log('clicked');
			window.location.href = '/login';
			// fetch('/login', {method: 'get'})
			// .then(res => {
			// 	if (res.status == 200)
			// 		return res.text();
			// })
			// .then(text => {
			// 	console.log(text);
			// 	window.location.href = text;
			// })
			// 	.catch(error => {
			// 		console.log(error);
			// 	});
		}
	}

</script>
<script>

	$(document).ready(function(){
		//移动端侧栏
		$('.sidenav').sidenav();
		//电脑端下拉框
		$(".dropdown-trigger").dropdown();
	});


</script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>