<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOTA2 wiki</title>
    <script src="js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
    <script src="js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="navbar-fixed">
    <nav class="grey darken-3" role="navigation">
        <div class="container nav-wrapper">
            <a href="" class="brand-logo"><img src="img/img/logo_round.png"/></a>
            <a id="menu" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">首页</a></li>
                <li><a href="">英雄</a></li>
                <li><a href="">物品</a></li>
                <li><a href="">帖子</a></li>
                <li><a href="">聊天</a></li>
                <li><a href="">登录</a></li>
            </ul>

            <ul class="side-nav" id="mobile-nav">
                <li><a href="">首页</a></li>
                <li><a href="">图鉴</a></li>
                <li><a href="">帖子</a></li>
                <li><a href="">聊天</a></li>
                <li><a href="">登录</a></li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <div>
        <video autoplay loop width="100%">
            <source type="video/webm" src="img/index/keyart.webm">
        </video>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="img/img/index1.jpg"></div>
    </div>
</div>

</body>

<footer class="red lighten-2 page-footer">
    <div class="row container">
        <div class="col l6 s12">
            <h5 class="white-text">特别感谢</h5>
            <ul>
                <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.materializecss.cn/">Materialize-UI中文网</a>
                </li>
                <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.dota2.com.cn/">DOTA2-刀塔官方网站</a>
                </li>
            </ul>
        </div>
        <div class="col l6 s12">
            <h5 class="white-text">联系我们</h5>
            <ul>
                <li><a class="grey-text text-lighten-4"
                       href="mailto:chrischen0405@gmail.com">chrischen0405@gmail.com</a></li>
                <li>
                    <a class="grey-text text-lighten-4" href="mailto:ll614657115@gmail.com">ll614657115@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a class="grey-text text-lighten-4" target="_blank"
               href="https://github.com/final201806/JS-Web">final201806</a>
        </div>
    </div>
</footer>

<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>