<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>论坛</title>
	<script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<link href='https://fonts.loli.net/icon?family=Material+Icons' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
	<script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="js/lib/vue.js"></script>
</head>
<body style="background: url(img/background2.jpg) no-repeat center top;">
<main>
	<div>
		<div>
			<div class="navbar-fixed">
				<nav class="grey darken-4" role="navigation"
				     style="background: url(img/bg-navbar.png) no-repeat center top;">
					<div class="container nav-wrapper">
						<a href="/index" class="brand-logo"><img style="max-width: 85%" src="img/logo.png"/></a>
						<a id="menu" data-activates="mobile-nav" class="button-collapse"><i
								class="material-icons">menu</i></a>
						<ul class="right hide-on-med-and-down">
							<li><a class="grey-text" href="/index">首页</a></li>
							<li><a class="grey-text" href="/heroes">英雄</a></li>
							<li><a class="grey-text" href="/items">物品</a></li>
							<li><a class="grey-text" href="/forum">帖子</a></li>
							<li><a class="grey-text" href="/chat">聊天</a></li>
							<li><a class="grey-text" href="/login">登录</a></li>
						</ul>

						<ul class="side-nav" id="mobile-nav">
							<li><a href="/index">首页</a></li>
							<li><a href="/heroes">英雄</a></li>
							<li><a href="/items">物品</a></li>
							<li><a href="/forum">帖子</a></li>
							<li><a href="/chat">聊天</a></li>
							<li><a href="/login">登录</a></li>
						</ul>
					</div>
				</nav>
			</div>

			<div class="container" id="postList" style="margin-top: 20px">
				<div class="row" style="margin: 0px" v-for="post in posts">
					<div class="col s12 m12">
						<div class="card" style="background: url(img/background.jpg) no-repeat center top;">
							<div class="card-content white-text">
								<a class="card-title" :href="'/postDetail?id=' + post.id">{{post.title}}</a>
								<p>{{post.content}}</p>
							</div>
							<div class="card-action">
								<!--<p class="right">{{site.authorName}}</p>-->
								<a class="right" href="#">{{post.createTime}}</a>
								<a class="right" :href="'/userHome?username=' + post.authorName">{{post.authorName}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container center" id="myPage">
				<page></page>
			</div>

		</div>
	</div>
</main>

<div class="fixed-action-btn">
	<a class="btn-floating btn-small grey darken-3" href="#addPost">
		<i class="large material-icons">mode_edit</i>
	</a>
</div>

<div id="addPost" class="modal bottom-sheet" style="height: 300px">
	<div class="modal-content" style="height: 240px">
		<h4>Modal Header</h4>
		<input v-model="title" placeholder="编辑我……">
		<textarea v-model="content" placeholder="多行文本输入……"></textarea>
	</div>
	<div class="modal-footer">
		<button class="modal-close waves-effect waves-green btn-flat" v-on:click="addPost">发布</button>
	</div>
</div>
</body>
<style type="text/css">
	.disabled {
		pointer-events: none;
	}
</style>
<script type="text/x-template" id="page">
	<ul class="pagination">
		<li :class="{ 'disabled':current === 1 }" @click="current-- && goto(current--)"><a href="#"><i class="material-icons">chevron_left</i></a></li>
		<li v-for="index in pages" @click="goto(index)" :class="{'active':current === index, 'waves-effect':true}" :key="index"><a href="#">{{index}}</a></li>
		<li v-bind:class="{ 'disabled':current === allpage }" @click="current++ && goto(current++)"><a href="#"><i class="material-icons">chevron_right</i></a></li>
	</ul>
</script>
<script>
	//模态框
	$(document).ready(function () {
		$('.modal').modal();
	});

	let pageId = '<%=message%>';
	let pageNumber = '<%=pageNumber%>';
	// console.log(pageNumber);
	// let page;
	// (function (pageNumber) {
	// 	page = new Number(pageNumber);
	// })(pageNumber);
	getPostList(pageId);

	let addPostVue = new Vue({
		el: '#addPost',
		data: {
			title: '',
			content: '你好'
		},
		methods: {
			addPost: function () {
				// 增
				fetch('/post', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json'
					},
					body: JSON.stringify({
						postTitle: this.title,
						postContent: this.content,
						postAuthorName: 'test',
					}),
				}).then(response => {
					if (response.status === 200) {
						return response.json();
					}
				}).then(json => {
					if (json.code === 200)
						window.location.href = '/forum'
					// document.body.innerText = json.toString();
				}).catch(error => {
					console.log(error);
				});
			}
		}
	});

	let postListVue = new Vue({
		el: '#postList',
		data: {
			posts: ''
		},
		methods: {
			postDetail: function (postId) {
				fetch('/index', {
					method: 'GET',
					// headers: {
					// 	'Content-Type': 'application/json',
					// 	'Accept': 'application/json'
					// }
				}).catch(error => {
					console.log(error);
				})
			}
		}
	});

	//查
	function getPostList(pageId) {
		fetch('/postList?pageId=' + pageId, {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
				'Accept': 'application/json'
			}
		}).then(response => {
			if (response.status === 200) {
				return response.json();
			}
		}).then(json => {
			postListVue.posts = json;
		}).catch(error => {
			console.log(error);
		});
	}

	Vue.component("page", {
		template: "#page",
		data: function () {
			return {
				current: 1,
				showItem: 5,
				allpage: parseInt(pageNumber),
				canNext: false
			}
		},
		computed: {
			pages: function () {
				let i;
				let pag = [];
				if (this.current < this.showItem) { //如果当前的激活的项 小于要显示的条数
					//总页数和要显示的条数那个大就显示多少条
					i = Math.min(this.showItem, this.allpage);
					while (i) {
						pag.unshift(i--);
					}
				} else { //当前页数大于显示页数了
					let middle = this.current - Math.floor(this.showItem / 2);
					i = this.showItem;
					if (middle > (this.allpage - this.showItem)) {
						middle = (this.allpage - this.showItem) + 1
					}
					while (i--) {
						pag.push(middle++);
					}
				}
				return pag;
			}
		},
		methods: {
			goto: function (index) {
				if (index === this.current || index > this.allpage) return;
				this.current = index;
				//这里可以发送ajax请求
				// console.log(this.current)
				// console.log(this.allpage)
				// this.canNext = (this.current === this.allpage);
				// console.log(this.canNext)
				getPostList(index);
			}
		}
	});

	let pageVue = new Vue({
		el: '#myPage',
	});

	//改
	// fetch('/post', {
	// 	method: 'PUT',
	// 	headers : {
	// 		'Content-Type': 'application/json',
	// 		'Accept': 'application/json'
	// 	},
	// 	body: JSON.stringify({
	// 		postTitle: '4up1',
	// 		postContent: '4up1',
	// 		postId: 5,
	// 	}),
	// 	redirect: "follow",
	// }).then(response => {
	// 	if (response.status === 200) {
	// 		return response.json();
	// 	}
	// }).then(json => {
	// 	console.log(json.code)
	// 	document.body.innerText = json.toString();
	// }).catch(error => {
	// 	console.log(error);
	// });

	//删
	// fetch('/post', {
	// 	method: 'DELETE',
	// 	headers : {
	// 		'Content-Type': 'application/json',
	// 		'Accept': 'application/json'
	// 	},
	// 	body: JSON.stringify({
	// 		// postTitle: '4up',
	// 		// postContent: '4up',
	// 		postId: 4,
	// 	}),
	// 	redirect: "follow",
	// }).then(response => {
	// 	if (response.status === 200) {
	// 		return response.json();
	// 	}
	// }).then(json => {
	// 	console.log(json.code)
	// 	document.body.innerText = json.toString();
	// }).catch(error => {
	// 	console.log(error);
	// });
</script>
</html>