<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
	<script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="js/lib/vue.js"></script>
</head>
<body>
<main>
	<div style="background: url(img/background.jpg) no-repeat center top;height: 1000px">
		<div>
			<div class="navbar-fixed">
				<nav class="grey darken-4" role="navigation"
				     style="background: url(img/bg-navbar.png) no-repeat center top;">
					<div class="container nav-wrapper">
						<a href="index.html" class="brand-logo"><img style="max-width: 85%" src="img/logo.png"/></a>
						<a id="menu" data-activates="mobile-nav" class="button-collapse"><i
								class="material-icons">menu</i></a>
						<ul class="right hide-on-med-and-down">
							<li><a href="/index">首页</a></li>
							<li><a href="/heroes">英雄</a></li>
							<li><a href="/items">物品</a></li>
							<li><a href="/forum">帖子</a></li>
							<li><a href="/chat">聊天</a></li>
							<li><a href="/login">登录</a></li>
						</ul>

						<ul class="side-nav" id="mobile-nav">
							<li><a href="/index">首页</a></li>
							<li><a href="/heroes">英雄</a></li>
							<li><a href="/items">物品</a></li>
							<li><a href="/forum">帖子</a></li>
							<li><a href="/chat">聊天</a></li>
							<li><a href="/login">登录</a></li>
						</ul>
					</div>
				</nav>
			</div>

			<div class="container" id="postList" style="margin-top: 100px">
				<div class="row" v-for="post in posts">
					<div class="col s12 m12">
						<div class="card grey darken-3">
							<div class="card-content white-text">
								<a class="card-title" :href="'/postDetail?id=' + post.id">{{post.title}}</a>
								<p>{{post.content}}</p>
							</div>
							<div class="card-action">
								<!--<p class="right">{{site.authorName}}</p>-->
								<a class="right" href="#">{{post.createTime}}</a>
								<a class="right" :href="'/userHome?username=' + post.authorName">{{post.authorName}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<div class="fixed-action-btn">
	<a class="btn-floating btn-small red" href="#addPost">
		<i class="large material-icons" >mode_edit</i>
	</a>
</div>

<div id="addPost" class="modal bottom-sheet" style="height: 300px">
	<div class="modal-content" style="height: 240px">
		<h4>Modal Header</h4>
		<input v-model="title" placeholder="编辑我……">
		<textarea v-model="content" placeholder="多行文本输入……"></textarea>
	</div>
	<div class="modal-footer">
		<button class="modal-close waves-effect waves-green btn-flat" v-on:click="addPost">发布</button>
	</div>
</div>
</body>
<script>
	//模态框
	$(document).ready(function(){
		$('.modal').modal();
	});

	new Vue({
		el: '#addPost',
		data: {
			title: '',
			content: '你好'
		},
		methods: {
			addPost: function () {
				// 增
				fetch('/post', {
					method: 'POST',
					headers : {
						'Content-Type': 'application/json',
						'Accept': 'application/json'
					},
					body: JSON.stringify({
						postTitle: this.title,
						postContent: this.content,
						postAuthorName: 'test',
					}),
					redirect: "follow",
				}).then(response => {
					if (response.status === 200) {
						return response.json();
					}
				}).then(json => {
					console.log(json.code)
						if (json.code === 200)
							window.location.href = '/forum'
					// document.body.innerText = json.toString();
				}).catch(error => {
					console.log(error);
				});
			}
		}
	});

	//查
	fetch('/postList', {
		method: 'GET',
		headers: {
			'Content-Type': 'application/json',
			'Accept': 'application/json'
		}
	}).then(response => {
		if (response.status === 200) {
			return response.json();
		}
	}).then(json => {
		new Vue({
			el: '#postList',
			data: {
				posts: json
			},
			methods: {
				postDetail: function (postId) {
					fetch('/index', {
						method: 'GET',
						// headers: {
						// 	'Content-Type': 'application/json',
						// 	'Accept': 'application/json'
						// }
					}).catch(error => {
						console.log(error);
					})
				}
			}
		});
	}).catch(error => {
		console.log(error);
	});




	//改
	// fetch('/post', {
	// 	method: 'PUT',
	// 	headers : {
	// 		'Content-Type': 'application/json',
	// 		'Accept': 'application/json'
	// 	},
	// 	body: JSON.stringify({
	// 		postTitle: '4up1',
	// 		postContent: '4up1',
	// 		postId: 5,
	// 	}),
	// 	redirect: "follow",
	// }).then(response => {
	// 	if (response.status === 200) {
	// 		return response.json();
	// 	}
	// }).then(json => {
	// 	console.log(json.code)
	// 	document.body.innerText = json.toString();
	// }).catch(error => {
	// 	console.log(error);
	// });

	//删
	// fetch('/post', {
	// 	method: 'DELETE',
	// 	headers : {
	// 		'Content-Type': 'application/json',
	// 		'Accept': 'application/json'
	// 	},
	// 	body: JSON.stringify({
	// 		// postTitle: '4up',
	// 		// postContent: '4up',
	// 		postId: 4,
	// 	}),
	// 	redirect: "follow",
	// }).then(response => {
	// 	if (response.status === 200) {
	// 		return response.json();
	// 	}
	// }).then(json => {
	// 	console.log(json.code)
	// 	document.body.innerText = json.toString();
	// }).catch(error => {
	// 	console.log(error);
	// });
</script>
</html>