<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<link href='https://fonts.loli.net/icon?family=Material+Icons' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="login">
	<nav class="grey darken-4" role="navigation" style="background: url(img/bg-navbar.png) no-repeat center top;">
		<div class="container nav-wrapper">
			<a href="/index" class="brand-logo hide-on-small-only"><img style="max-width: 85%" src="img/logo.png"/></a>
			<a id="menu" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a class="grey-text" href="/index">首页</a></li>
				<li><a class="grey-text" href="/heroes">英雄</a></li>
				<li><a class="grey-text" href="/items">物品</a></li>
				<li><a class="grey-text" href="/forum">帖子</a></li>
				<li><a class="grey-text" href="/chat">聊天</a></li>
				<li><a class="grey-text" href="/aboutUs">关于我们</a></li>
				<li><a href="/login" class="grey-text">登录</a></li>

			</ul>

			<ul class="side-nav" id="mobile-nav">
				<li>
					<div class="userView">
						<div class="background">
							<img src="img/aboutus/2.jpg">
						</div>
						<a style="padding-bottom: 10px; padding-top: 10px"><img class="circle"
						                                                        src="img/items/aegis_lg.png"></a>
						<a href="/login" style="padding-bottom: 10px"><span class="white-text name">登录</span></a>
					</div>
				</li>
				<li><a class="waves-effect" href="/index">首页</a></li>
				<li><a class="waves-effect" href="/heroes">英雄</a></li>
				<li><a class="waves-effect" href="/items">物品</a></li>
				<li><a class="waves-effect" href="/forum">帖子</a></li>
				<li><a class="waves-effect" href="/chat">聊天</a></li>
				<li><a class="waves-effect" href="/aboutUs">关于我们</a></li>
			</ul>
		</div>
	</nav>
</div>
<main style="background: url(img/background2.jpg) no-repeat center top;height: 800px">
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 l6" style="margin-top: 60px">
					<h2 class="title center-align grey-text">Welcome</h2>
					<div class="content center-align grey-text">
						<h5>Welcome to join us!</h5>
					</div>
				</div>
				<div class="col s12 l6" style="margin-top: 60px">
					<form class="card-panel " action="register" method="post" style=" background-color: rgba(0,0,0,0.2);">
						<div class="row">
							<div class="input-field col s12">
								<input id="username" type="text" class="validate white-text" name="username" onblur="isExisted()">
								<label id="usernameLab" for="username">用户名</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="password" type="password" class="validate white-text" name="pwd">
								<label for="password">密码</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="passwordC" type="password" class="validate" name="pwdC">
								<label for="passwordC">重复密码</label>
							</div>
						</div>
						<div class="row center-align">
							<div class="input-field col s12">
								<input value="注册" type="submit" class="waves-effect waves-light btn">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
</body>
<script>
	$("#menu").sideNav();

	function isExisted() {
		let usernameObj = document.getElementById('username');
		let usernameLab = document.getElementById('usernameLab');
		let username = usernameObj.value;
		console.log(username);
		fetch('/isExisted', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json',
				'Accept': 'application/json'
			},
			body: JSON.stringify({
				username: username
			}),
			redirect: "follow",
		}).then(response => {
			if (response.status === 200) {
				return response.json();
			}
		}).then(json => {
			if (json.code === 221) {
				usernameLab.innerText = 'test';
				console.log(221);
			}
		}).catch(error => {
			console.log(error);
		});
	}
</script>
</html>