<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>heroDetail</title>
    <script src="js/lib/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>
    <script src="js/lib/materialize.min.js" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="js/lib/vue.min.js"></script>
</head>
<body class="grey darken-4">
<div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation" style="background: url(img/bg-navbar.png) no-repeat center top;">
        <div class="container nav-wrapper">
            <a href="/index" class="brand-logo"><img style="max-width: 85%" src="img/logo.png"/></a>
            <a id="menu" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="grey-text" href="/index">首页</a></li>
                <li><a class="grey-text" href="/heroes">英雄</a></li>
                <li><a class="grey-text" href="/items">物品</a></li>
                <li><a class="grey-text" href="/forum">帖子</a></li>
                <li><a class="grey-text" href="/chat">聊天</a></li>
                <li><a class="grey-text" href="/login">登录</a></li>
            </ul>

            <ul class="side-nav" id="mobile-nav">
                <li><a href="/index">首页</a></li>
                <li><a href="/heroes">英雄</a></li>
                <li><a href="/items">物品</a></li>
                <li><a href="/forum">帖子</a></li>
                <li><a href="/chat">聊天</a></li>
                <li><a href="/login">登录</a></li>
            </ul>
        </div>
    </nav>
</div>

<main>
    <div style="background: url(img/background2.jpg) no-repeat center top;height: 1000px">
        <div class="container" style="padding-top: 100px">
            <div class="row" id="zhil">
                <div class="col l6 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" v-bind:src="heroes[heroId-1].url">
                        </div>
                        <div class="card-content" style="background: url(img/background.jpg) no-repeat center top">
                            <span class="activator grey-text card-title">{{heroes[heroId-1].name}}<i
                                    class="material-icons right">more_vert</i></span>
                            <p class="grey-text">{{heroes[heroId-1].comment}}</p>
                        </div>
                        <div class="card-reveal" style="background: url(img/background.jpg) no-repeat center top">
                            <span class="card-title grey-text">{{heroes[heroId-1].name}}<i class="material-icons right">close</i></span>
                            <p class="grey-text">{{heroes[heroId-1].information}}</p>
                        </div>
                    </div>
                </div>
                <div class="col l6 s12">
                    <div v-for="skill in heroes[heroId-1].skill">
                        <div class="card horizontal" style="background: url(img/background.jpg) no-repeat center top">
                            <div class="card-image ">
                                <img v-bind:src="skill.url" >
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p class="card-title grey-text">{{skill.name}}</p>
                                    <p class="grey-text">{{skill.comment}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

<footer class="grey darken-3 page-footer" style="background: url(img/background.jpg) no-repeat center top;">
    <div class="row container">
        <div class="col l6 s12">
            <h5 class="white-text">特别感谢</h5>
            <ul>
                <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.materializecss.cn/">Materialize-UI中文网</a>
                </li>
                <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.dota2.com.cn/">DOTA2-刀塔官方网站</a>
                </li>
            </ul>
        </div>
        <div class="col l6 s12">
            <h5 class="white-text">联系我们</h5>
            <ul>
                <li><a class="grey-text text-lighten-4"
                       href="mailto:chrischen0405@gmail.com">chrischen0405@gmail.com</a></li>
                <li>
                    <a class="grey-text text-lighten-4" href="mailto:ll614657115@gmail.com">ll614657115@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a class="grey-text text-lighten-4" target="_blank"
               href="https://github.com/final201806/JS-Web">final201806</a>
        </div>
    </div>
</footer>
<script src="/js/heroes.js"></script>
<script>
    var heroid = urlToObj().id;
    zhil.heroId = heroid;

    function urlToObj() {
        var obj = {};
        var url = location.href;//获取url
        var arr1 = url.split('?');//将地址名和传值分离
        var arr2 = arr1[1].split('&');//将传递的各个参数分离
        var arr3;
        for (let i = 0; i < arr2.length; i++) {
            arr3 = arr2[i].split('=');//获取键对值
            obj[arr3[0]] = arr3[1];//将键对值写入对象
        }
        return obj;
    }
</script>
</html>